@charset "utf-8";


.api-list	{overflow:hidden;width:100%;}
.api-list	li	{min-height:4.5rem;border-top:1px solid #d2d5d5;background:#f0f0f0;}
.api-list	li	button	{width:100%; height:100%; padding:0 1.5rem; line-height:4.4rem; color:#000; font-size:1.5rem; text-align:left; border-radius:0; background:transparent; }

.api-list	li.disabled	{}
.api-list	li.disabled	button	{ pointer-events:none; color:#ccc; }

.api	{}

.api	button	{ padding:5px; font-size:14px; border:1px solid #ccc; margin:10px 0; }
.api	pre	{padding:10px; background:#fff; margin-bottom:10px;}