@charset "utf-8";
@import "default.css";

/* uracle pjt-team Kang_yo */


html{font-size:62.5%;}
/* iPhone 3 이상 */
@media only screen and (min-width:320px) {
    html{font-size:62.5%;} 
}
/* Galaxy Note 2 이상 */
@media only screen and (min-width:360px) {
    html{font-size:70%;} 
}

body{position:relative;height:100%;font-size:1rem;color:#646464;}
/* input */
input{width:100%;height:3.2rem;padding:0 1.5rem;font-size:1.3rem;color:#000;background:#f3f3f3;border:1px solid #d8d8d8;-webkit-border-radius:1.6rem;-webkit-box-shadow: inset 0 1px rgba(0,0,0,.2);}
input:disabled{background:#dadada;}
/* button */
button{font-size:1.35rem;color:#fff;background:transparent;border:none;}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 	Layout Style
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* intro */
.intro{position:relative;width:100%;height:100%;background:url('../img/nds_salesmng_intro.png') no-repeat 50% 50%;background-size:100% 100%;}
.i_header{position:absolute;top:8%;left:50%;width:17.45rem;height:10.4rem;margin-left:-8.73rem;background:url('../img/nds_salesmng_logo.png') no-repeat;background-size:17.45rem 10.3rem;}
.i_header h2{display:none;}
.i_center{position:absolute;top:50%;left:0;width:100%;height:13.4rem;margin-top:-6.7rem;background:url('../img/nds_salesmng_intro_center.png') no-repeat;background-size:100% 13.4rem;}
.i_footer{position:absolute;bottom:16%;left:0;width:100%;text-align:center;}
.i_footer .update{margin-top:2rem;}
.i_footer .update > span{display:block;margin-bottom:.5rem;}
footer{position:absolute;bottom:8%;left:50%;margin-left:-4.7rem;width:9.35rem;height:.95rem;font-size:0;color:transparent;text-indent:-100000px;background:url('../img/nds_salesmng_logo_footer.png') no-repeat;background-size:9.35rem .95rem;}


/* login */
.login{
	/*position:absolute;top:45%;left:50%;*/width:29.5rem;/*margin:-3.6rem 0 0 -14.75rem;*/margin:0 auto;padding:.7rem;border:.1rem solid #fff;
	border-radius:.7rem;-webkit-border-radius:.7rem;-webkit-box-shadow: -.1rem -.1rem 0 rgba(0,0,0,0.16), inset 0 -.1rem 0 rgba(0,0,0,0.18);
}
.login_input{display:inline-block;width:19.6rem;margin:-.3rem .5rem 0 0;}
.input_group{position:relative;}
.input_group:first-of-type{margin-bottom:.6rem;}
.input_group:before{content:"";position:absolute;top:50%;left:1.1rem;}
.input_group:first-of-type:before{width:1.2rem;height:1.2rem;margin-top:-.6rem;background:url('../img/nds_salesmng_input_person.png') no-repeat;background-size:1.15rem 1.2rem;}
.input_group:last-of-type:before{width:1rem;height:1.2rem;margin-top:-.6rem;background:url('../img/nds_salesmng_input_key.png') no-repeat;background-size:.95rem 1.15rem;}
.input_group input{height:2.85rem;padding:0 1.7rem 0 3.2rem;background:#fff;border:.1rem solid #cecece;border-radius:.4rem;-webkit-border-radius:.4rem;-webkit-box-shadow:0 .1rem 0 rgba(255,255,255,0.45), inset 0 .1rem .1rem rgba(0,0,0,0.09);}
.input_group input:focus{border:.1rem solid #f15922;}
/* 버튼스타일 */
.btn_login{width:7.5rem;height:6.7rem;background:url('../img/nds_salesmng_btn_login.png') no-repeat;background-size:7.5rem 13.5rem;}
.btn_login.on{background-position:0 -6.75rem;}


/* home position:absolute;top:0;left:0;*/
.home{position:fixed;top:0;left:0;width:100%;height:100%;background:url('../img/nds_salesmng_bg_home.png') no-repeat; background-size:100% 100%;-webkit-box-shadow: 0 0 2rem #333;}
.btn_menu, .btn_sear, .btn_bran, .btn_site{position:absolute;top:1rem;width:2.75rem;height:2.75rem;background:url('../img/nds_salesmng_btn_home.png') no-repeat;background-size:11rem 5.5rem;}
.btn_menu{left:.7rem;background-position:0 0;}  /* 메뉴버튼 */
.btn_sear{right:9rem;background-position:-2.75rem 0;} /* 검색버튼 */
.btn_bran{right:4.5rem;background-position:-5.5rem 0;} /* 지점버튼 */
.btn_site{right:.7rem;background-position:-8.25rem 0;} /* 사이트맵버튼 */
.btn_menu.on{background-position:0 -2.75rem;}
.btn_sear.on{background-position:-2.75rem -2.75rem;}
.btn_bran.on{background-position:-5.5rem -2.75rem;}
.btn_site.on{background-position:-8.25rem -2.75rem;}

/* home position:absolute;top:0;left:0; */
.home{width:100%;height:100%;text-align:center;background:url('../img/nds_salesmng_bg_home.png') no-repeat 0 0; background-size:100% 100%;-webkit-box-shadow: 0 0 2rem #333;}
.home header{border:0 none;background:none;-webkit-box-shadow:none;}
.home .home_box{display:inline-block;margin:auto 0;}
.home_box .h_logo{width:17.45rem;height:10.4rem;margin:0 auto;background:url('../img/nds_salesmng_logo.png') no-repeat;background-size:100% 100%;}
.home_box .h_profile{width:11.2rem;height:12.55rem;margin:1.5rem auto 0 auto;background:url('../img/nds_salesmng_home_profile.png') no-repeat;background-size:100% 100%;}
/*.home_box .h_profile{width:11.2rem;height:12.55rem;margin:3rem auto 0 auto;background:url('../img/nds_salesmng_home_profile.png') no-repeat;background-size:100% 100%;}*/
.home_box .h_date{width:15.45rem;height:3.15rem;margin:1% 0 0 40%;background:url('../img/nds_salesmng_home_date.png') no-repeat;background-size:100% 100%;}
.home_box .h_menu{overflow:hidden;width:25.35rem;height:8.45rem;margin:1.5rem auto 0 auto;background:url('../img/nds_salesmng_menu_bg.png') no-repeat;background-size:100% 100%;}
/*.home_box .h_menu{overflow:hidden;width:25.35rem;height:8.45rem;margin:3rem auto 0 auto;background:url('../img/nds_salesmng_menu_bg.png') no-repeat;background-size:100% 100%;}*/
.home_box .h_menu li{float:left;width:6.25rem;height:7.65rem;background:url('../img/nds_salesmng_menu_ico.png') no-repeat;background-size:25rem 15.3rem;}
.home_box .h_menu li:nth-of-type(1){margin-left:.2rem;background-position:0 0;}
.home_box .h_menu li:nth-of-type(2){background-position:-6.25rem 0;}
.home_box .h_menu li:nth-of-type(3){background-position:-12.5rem 0;}
.home_box .h_menu li:nth-of-type(4){background-position:-18.75rem 0;}
.home_box .h_menu li.on:nth-of-type(1){background-position:0 -7.65rem;}
.home_box .h_menu li.on:nth-of-type(2){background-position:-6.25rem -7.65rem;}
.home_box .h_menu li.on:nth-of-type(3){background-position:-12.5rem -7.65rem;}
.home_box .h_menu li.on:nth-of-type(4){background-position:-18.75rem -7.65rem;}
.h_notice{position:absolute;left:0;bottom:0;width:100%;height:4.55rem;background:url('../img/nds_salesmng_notice_bg.png') repeat-x;background-size:1px 4.55rem;}
.h_notice p{width:5.75rem;height:1.55rem;margin:1.6rem 0 0 1.35rem;background:url('../img/nds_salesmng_notice_text.png') no-repeat;background-size:100% 100%;}

/* .h_logo{width:17.45rem;height:10.4rem;margin:15% auto 0 auto;background:url('../img/nds_salesmng_logo.png') no-repeat;background-size:100% 100%;}
.h_profile{width:11.2rem;height:12.55rem;margin:5% auto 0 auto;background:url('../img/nds_salesmng_home_profile.png') no-repeat;background-size:100% 100%;}
.h_date{width:15.45rem;height:3.15rem;margin:1% 0 0 40%;background:url('../img/nds_salesmng_home_date.png') no-repeat;background-size:100% 100%;}
.h_menu{overflow:hidden;width:25.35rem;height:8.45rem;margin:4% auto 0 auto;background:url('../img/nds_salesmng_menu_bg.png') no-repeat;background-size:100% 100%;}
.h_menu li{float:left;width:6.25rem;height:7.65rem;background:url('../img/nds_salesmng_menu_ico.png') no-repeat;background-size:25rem 15.3rem;}
.h_menu li:nth-of-type(1){margin-left:.2rem;background-position:0 0;}
.h_menu li:nth-of-type(2){background-position:-6.25rem 0;}
.h_menu li:nth-of-type(3){background-position:-12.5rem 0;}
.h_menu li:nth-of-type(4){background-position:-18.75rem 0;}
.h_menu li.on:nth-of-type(1){background-position:0 -7.65rem;}
.h_menu li.on:nth-of-type(2){background-position:-6.25rem -7.65rem;}
.h_menu li.on:nth-of-type(3){background-position:-12.5rem -7.65rem;}
.h_menu li.on:nth-of-type(4){background-position:-18.75rem -7.65rem;}
.h_notice{position:absolute;bottom:0;width:100%;height:4.55rem;background:url('../img/nds_salesmng_notice_bg.png') repeat-x;background-size:1px 4.55rem;}
.h_notice p{width:5.75rem;height:1.55rem;margin:1.6rem 0 0 1.35rem;background:url('../img/nds_salesmng_notice_text.png') no-repeat;background-size:100% 100%;}
*/

/* fullmenu */
.fullmenu{position:relative;height:100%;background:gray;}
.fullmenu li{height:4.35rem;padding:1rem 0 0 1rem;border-top:1px solid #999;border-bottom:1px solid #343740;}
.fullmenu li p{width:10rem;height:2.3rem;background:url('../img/nds_salesmng_fullmenu.png') no-repeat;background-size:10rem 13.8rem;}
.fullmenu li:nth-of-type(1) p{background-position:0 0;}
.fullmenu li:nth-of-type(2) p{background-position:0 -2.3rem;}
.fullmenu li:nth-of-type(3) p{background-position:0 -4.6rem;}
.fullmenu li:nth-of-type(4) p{background-position:0 -6.9rem;}
.fullmenu li:nth-of-type(5) p{background-position:0 -9.2rem;}
.fullmenu li:nth-of-type(6) p{background-position:0 -11.5rem;}
.fullmenu li.active{border:0;background:url('../img/nds_salesmng_fullmenu_active.png') repeat-x;background-size:1px 4.35rem;}
.fullmenu li.on{border:0;background:black;}
.btm_bar{overflow:hidden;position:absolute;bottom:0;width:100%;height:4.55rem;background:url('../img/nds_salesmng_bg_btm_bar.png') repeat-x;background-size:1px 4.55rem;-webkit-box-shadow: 0 0 2rem #333;}
.btm_bar button{position:relative;float:left;width:50%;height:100%;}
.btm_bar button:before{content:'';position:absolute;top:50%;left:50%;width:3.5em;height:3.5rem;margin:-1.75rem 0 0 -1.75rem;}
.btm_bar .btn_end:before{background:url('../img/nds_salesmng_ico_end.png') no-repeat;background-size:3.5rem 7rem;}
.btm_bar .btn_set:before{background:url('../img/nds_salesmng_ico_set.png') no-repeat;background-size:3.5rem 7rem;}
.btm_bar .btn_end.on:before, .btm_bar .btn_set.on:before{background-position:0 -3.5rem;}

.result{overflow:hidden;padding:.8rem;color:#000;font-size:1.3rem;background:#b5b3b3;}
.result span{float:right;}
.result span em{padding:0 .5rem;color:#d71400;}


/* header */
header{position:fixed;top:0;left:0;z-index:99;width:100%;height:4.5rem;line-height:4.9rem;background:#e3e3e3;border-bottom:.1rem solid #fff;-webkit-box-shadow: 0 .1rem 0 rgba(0,0,0,0.19);}
header h1{display:block;font-size:2rem;color:#930d00;text-align:center;}
header button{position:absolute;top:1rem;width:3.45rem;height:3.45rem;font-size:0;color:transparent;text-indent:-100000px;}
header .btn_back, header .btn_cancle, header .btn_ok, header .btn_next{display:block;width:2.5rem;height:2.5rem;background:url('../img/nds_salesmng_btn_back.png') no-repeat;background-size:2.5rem 5rem;}
header .btn_back, header .btn_cancle{left:1rem;}
header .btn_ok, header .btn_next{right:1rem;}
header .btn_cancle{background-image:url('../img/nds_salesmng_btn_cancle.png');} /* 취소버튼  */
header .btn_ok{background-image:url('../img/nds_salesmng_btn_ok.png');} /* 완료버튼  */
header .btn_next{background-image:url('../img/nds_salesmng_btn_next.png');} /* 다음버튼  */
header .btn_back.on, header .btn_cancle.on, header .btn_ok.on, header .btn_next.on{background-position:0 -2.5rem;} 
/* 주문신청버튼 */
header .btn_order{top:.65rem;right:.6rem;width:5.85rem;height:3.2rem;font-size:1.25rem;color:#fff;text-indent:0;background:url('../img/nds_salesmng_btn_order.png') no-repeat;background-size:5.85rem 6.4rem;}
header .btn_order.on{background-position:0 -3.2rem;}



/* contents */
#content{position:relative;width:100%;min-height:100%;padding-top:4.5rem;}
#content.p_content{padding:5.3rem .7rem 1.1rem;}
#wrapper, #wrapper2, #wrapper3{position:relative;}
#wrapper > div,  #wrapper2 > div,  #wrapper3 > div{padding:.8rem .7rem;}
.no_data {display:-webkit-box;-webkit-box-pack:center;-webkit-box-align:center;font-size:1.3rem;color:#464646;text-align:center;}
.no_data img{display:inline-block;width:11.25rem;height:11.25rem;}
.no_data p{margin-top:3.5rem;font-size:1.3rem;color:#464646;line-height:140%;text-align:center;}

/* title */
.title{position:relative;height:2.7rem;margin:1.1rem 0 .3rem;}
.title:first-of-type{margin-top:0;}
.title:after{content:"";position:absolute;top:50%;left:0;width:100%;height:1px;background:rgba(0,0,0,.2);}
.title h2{position:absolute;top:.5rem;left:0; z-index:1;padding:0 .45rem 0 1.2rem;font-size:1.7rem;color:#000;background:#fff;}
.title h2:before{content:"";position:absolute;top:45%;left:.3rem;width:.5rem;height:1.6rem;margin-top:-.8rem;background:url('../img/nds_salesmng_icon_bar.png') no-repeat;background-size:.5rem 1.6rem;}
.title > div{position:absolute;top:0;right:0;z-index:1;width:5.5rem;padding:0 .5rem;text-align:center;background:#fff;}
/* 버튼스타일 */
.btn_add{display:inline-block;width:5.1rem;height:2.55rem;padding:.1rem 0 0 1rem;font-size:1.3rem;color:#383838;background:url('../img/nds_salesmng_btn_add.png') no-repeat;background-size:5.05rem 5.2rem;}
.btn_add.on{background-position:0 -2.6rem;}

/* table */
table{width:100%;border-collapse:separate;}
table th, table td{font-size:1.5rem;color:#000;}
table.basic{border:.1rem solid #c7c7c7;-webkit-border-radius:.4rem;}
table.basic th{color:#930d00;text-align:center;font-weight:normal;background:#e1e1e1;}
table.basic td{padding:0 .6rem;}
table.basic th, table.basic td{height:4.3rem;letter-spacing:-.1rem;border-bottom:.1rem solid #c6c6c6;}
table.basic tr:last-of-type th, table.basic tr:last-of-type td{border-bottom:0;}
table.basic tr:first-of-type th{-webkit-border-radius:.4rem 0 0 0;}
table.basic tr:first-of-type td{-webkit-border-radius:0 .4rem 0 0;}
table.basic tr:last-of-type th{-webkit-border-radius:0 0 0 .4rem;}
table.basic tr:last-of-type td{-webkit-border-radius:0 0 .4rem 0;}

table.gray th{height:2.6rem;line-height:2.6rem;font-size:1.3rem;color:#fff;font-weight:normal;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#868686), color-stop(20%,#818181), color-stop(75%,#696969), color-stop(100%,#616161));border-bottom:1px solid #888;}
table.gray td{padding:.5rem .3rem;font-size:1.3rem;background:#fff;border-bottom:1px solid #c6c6c6;}
table.gray tr:nth-of-type(even) td{background:#ececec}
table.gray tr td:first-of-type{border-left:1px solid #cacaca;}
table.gray tr td:last-of-type{border-right:1px solid #cacaca;}
table.gray td > p{display:inline-block;width:70%;text-align:left;}
table.gray td .s_block{display:block;}
table.gray th, table.gray td{text-align:center;letter-spacing:-.1rem;}
table.gray thead tr th:first-of-type{-webkit-border-radius:.4rem 0 0 0;}
table.gray thead tr th:last-of-type{-webkit-border-radius:0 .4rem 0 0;}
table.gray tbody tr:last-of-type td:first-of-type{-webkit-border-radius:0 0 0 .4rem;}
table.gray tbody tr:last-of-type td:last-of-type{-webkit-border-radius:0 0 .4rem 0;}

/* input */
.input_wrap{position:relative;}
.input_wrap input{padding-right:5.5rem;}
.input,.input_search, .select{
	display:inline-block;width:100%;height:3.1rem;line-height:3.1rem;text-align:center;border:1px solid #ccc;-webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#f9f9f9), color-stop(75%,#e7e7e7), color-stop(98%,#e2e2e2), color-stop(100%,#dcdcdc));-webkit-border-radius:1.6rem;
}
.input.on,.input_search.on{background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(31%,#dddddd), color-stop(85%,#eaeaea), color-stop(98%,#ececec), color-stop(100%,#e7e7e7));}
.input.disabled{opacity:.5;}
.select{position:relative;padding:0 1rem;text-align:left;}
.select.disabled{color:#949494;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#cdcdcd));}
.select:after{content:"";position:absolute;top:50%;right:1rem;width:1rem;height:1rem;margin-top:-.5rem;background:url('../img/nds_salesmng_icon_select.png') no-repeat;background-size:1rem 2rem;}
.select.disabled:after{background-position:0 -1rem;}

/* 버튼스타일 */
.input_wrap .btn_search{position:absolute;top:0;right:0;z-index:1;width:5rem;height:3.25rem;font-size:0;color:transparent;text-indent:-100000px;background:url('../img/nds_salesmng_btn_search.png') no-repeat;background-size:4.95rem 9.75rem;}
.input_wrap .btn_search.on{background-position:0 -3.25rem;}
.input_wrap .btn_search:disabled{background-position:0 -6.51rem;}
.input_search{position:relative;font-size:1.65rem;color:#dc2917;} /* 검색버튼 */
.input_search.on{-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.26);}
.input_search:before{content:"";display:inline-block;width:1.6rem;height:1.6rem;margin:.5rem .5rem 0 0;background:url('../img/nds_salesmng_btn_input_search.png') no-repeat;background-size:1.6rem 3.4rem;}
.input_search:disabled{color:#949494;background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#cdcdcd));}
.input_search:disabled:before{background-position:0 -1.75rem;}

/* radio */
.radio_group{display:inline-block;margin-right:1.5rem;}
.radio_group input[type="radio"]{width:2.5rem;height:2.5rem;padding:0;-webkit-appearance:none;border:0;outline:0;background:url('../img/nds_salesmng_radio.png') no-repeat;background-size:2.5rem 5rem;}
.radio_group input[type="radio"]:checked{background-position:0 -2.5rem;}
.radio_group label{display:inline-block;margin-top:.2rem;}

/* fieldset */
fieldset{padding:.6rem .7rem;background:#d8d8d9;border-bottom:1px solid #edecec;}
fieldset dl{display:-webkit-box;margin-bottom:.5rem;}
fieldset dl dt{width:30%;text-align:center;line-height:3.3rem;}
fieldset dl dd{width:70%;}
fieldset dl dt, fieldset dl dd{font-size:1.5rem;color:#000;}

/* tap */
nav, .tap{width:100%;}
.tap{display:-webkit-box;overflow:hidden;border-bottom:3px solid #c22618;}
.tap li{
	height:3.65rem;width:32.7%;margin-right:.5%;font-size:1.6rem;color:#dc2917;line-height:4rem;text-align:center;-webkit-border-radius:.9rem .9rem 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(1%,#dadada), color-stop(63%,#d9d9d9), color-stop(92%,#d5d5d5), color-stop(93%,#d4d4d4), color-stop(94%,#d0d0d0), color-stop(96%,#bebebe), color-stop(100%,#b3b3b3));
}
.tap li:last-of-type{width:33.6%;margin-right:0;}
.tap li.on{color:#fff;text-shadow:-1px -1px 0 rgba(0,0,0,0.36);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee4e00), color-stop(21%,#e54704), color-stop(76%,#c22b14), color-stop(96%,#bd2618), color-stop(100%,#c52618));}

/* 주문입력페이지 */
.icon_c{display:inline-block;width:2.35rem;height:2.35rem;margin:0 .7rem 0 .4rem;font-size:0;color:transparent;text-indent:-100000px;vertical-align:middle;background:url('../img/nds_salesmng_icon_cancle.png') no-repeat;background-size:2.3rem;}

/* 배종조회페이지 */
.yes_data{padding:.1rem;background:#494949;border-top:1px solid #373737;}
.yes_data #wrapper > div, .yes_data #wrapper2 > div, .yes_data #wrapper3 > div{width:100%;background:#fff;padding-top:1.2rem;}
.car_info{display:-webkit-box;padding:.8rem 0 .8rem 1.5rem;margin-bottom:1.2rem;text-align:center;border:1px solid #dadada;background:#e8e8e8;}
.car_info img{display:inline-block;width:3.25rem;height:2.85rem;margin-right:1.5rem;}
.car_info dl{display:-webkit-box;padding-left:1.6rem;border-left:1px solid #b2b2b2;}
.car_info dt, .car_info dd{font-size:1.3rem;letter-spacing:-.1rem;}
.car_info dt{font-size:1.3rem;color:#000;}
/* 추가날짜 */
.login_wrap{position:absolute;top:45%;left:0;width:100%;height:8.3rem;margin-top:-4.2rem;}

.home:hover {background-position:0 0;}
.btn_back:hover, 
.btn_cancle:hover {
	background-position:0 -2.5rem;
}

